@model IEnumerable<WebTp7.Models.Movie>

@{
    ViewData["Title"] = "FavMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FavMovies</h1>


@if(User.IsInRole("admin"))
{
<div>
    <a asp-controller="User" asp-action="Index" >show all Users</a>
</div>
}
else
{
    <div>
        <a asp-controller="Movie" asp-action="Index" asp-route-genreId="">show all movies</a>
    </div>
    <div>
        <a asp-controller="Genre" asp-action="Index">show all Genres</a>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating) ⭐
            </td>
           
            
        </tr>
}
    </tbody>
</table>
